In [26]:
import pandas as pd

## Crypto tweets

In [27]:
data_raw = pd.read_csv("../res/input/cryptonews.csv")
df_tweets = data_raw.copy(deep=True)

data_raw.head()

,date,sentiment,source,subject,text,title,url
0,2023-04-05 06:52:09,"{'class': 'negative', 'polarity': -0.03, 'subj...",CoinTelegraph,defi,The compensation process is expected to start ...,Allbridge to first begin repaying stuck bridge...,https://cointelegraph.com/news/allbridge-to-fi...
1,2023-04-05 06:19:00,"{'class': 'neutral', 'polarity': 0.0, 'subject...",CryptoPotato,bitcoin,On-chain analytics revealed a sentiment shift ...,Bitcoin Hodl Patterns Indicate Cycle Shift to ...,https://cryptopotato.com/bitcoin-hodl-patterns...
2,2023-04-05 05:09:44,"{'class': 'negative', 'polarity': -0.04, 'subj...",CoinTelegraph,bitcoin,"Ether has broken the $1,900 resistance level f...",ETH hits 7-month high ahead of Shanghai and Ca...,https://cointelegraph.com/news/eth-hits-7-mont...
3,2023-04-05 01:09:52,"{'class': 'positive', 'polarity': 0.07, 'subje...",CoinTelegraph,bitcoin,"With a new quarterly production record, Marath...","Marathon Digital posts quarterly record of 2,1...",https://cointelegraph.com/news/marathon-digita...
4,2023-04-04 23:49:00,"{'class': 'positive', 'polarity': 0.4, 'subjec...",CryptoPotato,altcoin,The stablecoin BTG Dol will supposedly become ...,Brazilian Finance Giant BTG Pactual to Issue a...,https://cryptopotato.com/brazilian-finance-gia...

In [28]:
df_tweets.describe()

,date,sentiment,source,subject,text,title,url
count,18543,18543,18543,18543,18543,18543,18543
unique,18304,3196,3,6,18131,18511,18543
top,2022-01-14 00:00:00,"{'class': 'neutral', 'polarity': 0.0, 'subject...",CoinTelegraph,bitcoin,"Get your daily, bite-sized digest of cryptoass...",Is it Too Late to Buy Shiba Inu? Crypto Expert...,https://cointelegraph.com/news/allbridge-to-fi...
freq,26,4195,8675,6439,326,4,1

In [29]:
df_tweets.isnull().sum()

date         0
sentiment    0
source       0
subject      0
text         0
title        0
url          0
dtype: int64

In [30]:
# Convert sentiment column from string to dict
df_tweets["sentiment"] = df_tweets["sentiment"].apply(eval)

# Split dictionary in separate columns
df_sentiment = pd.json_normalize(df_tweets["sentiment"])
df_tweets = pd.concat([df_tweets, df_sentiment], axis=1)

# Convert date column to datetime
df_tweets['date'] = pd.to_datetime(df_tweets['date'], format='mixed', errors='coerce')

df_tweets = df_tweets.drop(columns=["sentiment", "url"])
df_tweets = df_tweets.rename(columns={"class": "sentiment"})
df_tweets.head()

,date,source,subject,text,title,sentiment,polarity,subjectivity
0,2023-04-05 06:52:09,CoinTelegraph,defi,The compensation process is expected to start ...,Allbridge to first begin repaying stuck bridge...,negative,-0.03,0.20
1,2023-04-05 06:19:00,CryptoPotato,bitcoin,On-chain analytics revealed a sentiment shift ...,Bitcoin Hodl Patterns Indicate Cycle Shift to ...,neutral,0.00,0.00
2,2023-04-05 05:09:44,CoinTelegraph,bitcoin,"Ether has broken the $1,900 resistance level f...",ETH hits 7-month high ahead of Shanghai and Ca...,negative,-0.04,0.31
3,2023-04-05 01:09:52,CoinTelegraph,bitcoin,"With a new quarterly production record, Marath...","Marathon Digital posts quarterly record of 2,1...",positive,0.07,0.23
4,2023-04-04 23:49:00,CryptoPotato,altcoin,The stablecoin BTG Dol will supposedly become ...,Brazilian Finance Giant BTG Pactual to Issue a...,positive,0.40,0.40

In [31]:
df_tweets.to_csv("../res/prepared/cryptonews.csv", index=False)

## Huggingface

### zeroshot twitter financial news

In [32]:
splits = {'train': 'sent_train.csv', 'validation': 'sent_valid.csv'}
df_train = pd.read_csv("hf://datasets/zeroshot/twitter-financial-news-sentiment/" + splits["train"])
df_val = pd.read_csv("hf://datasets/zeroshot/twitter-financial-news-sentiment/" + splits["validation"])

df = pd.concat([df_train, df_val], ignore_index=True)
df.head()

                                                text  label
0  $BYND - JPMorgan reels in expectations on Beyo...      0
1  $CCL $RCL - Nomura points to bookings weakness...      0
2  $CX - Cemex cut at Credit Suisse, J.P. Morgan ...      0
3  $ESS: BTIG Research cuts to Neutral https://t....      0
4  $FNKO - Funko slides after Piper Jaffray PT cu...      0

In [33]:
df.to_csv("../res/prepared/hf-twitter-financial-news.csv", index=False)

### ElKulako/stocktwits-crypto

In [34]:
df = pd.read_excel("../res/input/st-data-full.xlsx")
df

                                                     text  label
0       if you were curious, price chose the lowest ch...      1
1                  true, not even 10k followers here yet.      1
2       dogecoin co-founder billy markus hits back at ...      1
3        i’m curious, do any bulls have a price where ...      1
4                  friday everybody buy 10 more on friday      2
...                                                   ...    ...
599995  so did i 850% with ! get in below a dollar. st...      2
599996  notice it’s the same few brain dead people bas...      2
599997  attention!!! anyone under the age of 18…. stea...      2
599998   dickhead bears fucked. keep your big mouths s...      2
599999         hit that shit and make it turn like turnip      2

[600000 rows x 2 columns]

In [35]:
df["label"].unique()

array([1, 2, 0], dtype=int64)

In [36]:
df = df.dropna(how="any")
df

                                                     text  label
0       if you were curious, price chose the lowest ch...      1
1                  true, not even 10k followers here yet.      1
2       dogecoin co-founder billy markus hits back at ...      1
3        i’m curious, do any bulls have a price where ...      1
4                  friday everybody buy 10 more on friday      2
...                                                   ...    ...
599995  so did i 850% with ! get in below a dollar. st...      2
599996  notice it’s the same few brain dead people bas...      2
599997  attention!!! anyone under the age of 18…. stea...      2
599998   dickhead bears fucked. keep your big mouths s...      2
599999         hit that shit and make it turn like turnip      2

[599975 rows x 2 columns]

In [37]:
df.to_csv("../res/prepared/st-data-full.csv", index=False)